<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Doraemon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon_20</string>
					<string>appicon_40</string>
					<string>appicon_80</string>
					<string>appicon_167</string>
					<string>appicon_87</string>
					<string>appicon_60</string>
					<string>appicon_1024</string>
					<string>appicon_76</string>
					<string>appicon_180</string>
					<string>appicon_152</string>
					<string>appicon_58</string>
					<string>appicon_29</string>
					<string>appicon_120</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>code</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1024</string>
					<string>0058</string>
					<string>0080-1</string>
					<string>0076</string>
					<string>0167</string>
					<string>0058-1</string>
					<string>0120-1</string>
					<string>0029</string>
					<string>0152</string>
					<string>0180</string>
					<string>0087</string>
					<string>0080</string>
					<string>0120</string>
					<string>0040</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>fishbone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>二icon</string>
					<string>二Icon-76</string>
					<string>二Icon-60</string>
					<string>二Icon-83.5</string>
					<string>二Icon-Small</string>
					<string>二Icon-Small-1</string>
					<string>二Icon-Small-40</string>
					<string>二Icon-Notification</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SFApp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>qmui</string>
		<string>JDStatusBarNotification</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>需要您的同意，才能访问相机用于拍照或者扫码</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要您的同意，才能访问麦克风用于直播</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要您的同意，才能保存图片到您的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要您的同意，才能访问相册</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
